body{
    background-color: rgb(48, 45, 45);
    color: rgb(119, 26, 180);
    text-align: center;
}
table {
    border-collapse: collapse;
    margin: 0 auto;
}
table td, th, input, button{
    padding: 5px;
}

th {
    background-color:rgb(119, 26, 180);
    color: white;
}
th:nth-child(2){
    width: 300px;
}

td:nth-child(2){
    text-align: left;
}

td {
    background-color: darkgray;
}

input{
    width: 95%;
}